In [1]:
import pandas as pd

In [2]:
df1_data = [[12341, "Tina", "CANADA"], [12342, "Sid", "USA"], [12343, "Vansh", "INDIA"], [12344, "Shlok", "RUSSIA"]]
df1 = pd.DataFrame(df1_data, columns=["Ticket number", "Name", "Destination"])

df2_data = [[12345, "Andy", "INDIA"], [12346, "Sandy", "INDIA"], [12347, "Raj", "RUSSIA"], [12348, "Rocky", "CANADA"]]
df2 = pd.DataFrame(df2_data, columns=["Ticket number", "Name", "Destination"])

In [6]:
print(df1)

   Ticket number   Name Destination
0          12341   Tina      CANADA
1          12342    Sid         USA
2          12343  Vansh       INDIA
3          12344  Shlok      RUSSIA

In [8]:
print(df2)

   Ticket number   Name Destination
0          12345   Andy       INDIA
1          12346  Sandy       INDIA
2          12347    Raj      RUSSIA
3          12348  Rocky      CANADA

In [9]:
result = pd.concat([df1, df2])
print(result)

   Ticket number   Name Destination
0          12341   Tina      CANADA
1          12342    Sid         USA
2          12343  Vansh       INDIA
3          12344  Shlok      RUSSIA
0          12345   Andy       INDIA
1          12346  Sandy       INDIA
2          12347    Raj      RUSSIA
3          12348  Rocky      CANADA